body {
    font-size: 12px;
}
.amap-info-close{
    top:10px;
}
/*隐藏LoGo*/
.amap-logo {
    display: none;
    bottom: -100px;
}
.amap-copyright {
    bottom:-100px;
    display: none;
}
#showInformation
{
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
}
#test
{
    color: red;
}